.home-container{
    text-align: center
}

.contact-item-container{
    border: 2px solid black;
    width: 20%;
    text-align: center;
    height: 200px;
}
.contact-list-container1{
    display: flex;
    flex-wrap: wrap
}
.add-contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}